@font-face {
    font-family: 'feather';
    src:  url('../fonts/feather.eot?56f7if');
    src:  url('../fonts/feather.eot?56f7if#iefix') format('embedded-opentype'),
      url('../fonts/feather.ttf?56f7if') format('truetype'),
      url('../fonts/feather.woff?56f7if') format('woff'),
      url('../fonts/feather.svg?56f7if#feather') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="ft-"], [class*=" ft-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'feather' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .ft-trophy:before {
    content: "\e900";
  }
  .ft-activity:before {
    content: "\e901";
  }
  .ft-airplay:before {
    content: "\e902";
  }
  .ft-alert-circle:before {
    content: "\e903";
  }
  .ft-alert-octagon:before {
    content: "\e904";
  }
  .ft-alert-triangle:before {
    content: "\e905";
  }
  .ft-align-center:before {
    content: "\e906";
  }
  .ft-align-justify:before {
    content: "\e907";
  }
  .ft-align-left:before {
    content: "\e908";
  }
  .ft-align-right:before {
    content: "\e909";
  }
  .ft-anchor:before {
    content: "\e90a";
  }
  .ft-aperture:before {
    content: "\e90b";
  }
  .ft-archive:before {
    content: "\e90c";
  }
  .ft-arrow-down-circle:before {
    content: "\e90d";
  }
  .ft-arrow-down-left:before {
    content: "\e90e";
  }
  .ft-arrow-down-right:before {
    content: "\e90f";
  }
  .ft-arrow-down:before {
    content: "\e910";
  }
  .ft-arrow-left-circle:before {
    content: "\e911";
  }
  .ft-arrow-left:before {
    content: "\e912";
  }
  .ft-arrow-right-circle:before {
    content: "\e913";
  }
  .ft-arrow-right:before {
    content: "\e914";
  }
  .ft-arrow-up-circle:before {
    content: "\e915";
  }
  .ft-arrow-up-left:before {
    content: "\e916";
  }
  .ft-arrow-up-right:before {
    content: "\e917";
  }
  .ft-arrow-up:before {
    content: "\e918";
  }
  .ft-at-sign:before {
    content: "\e919";
  }
  .ft-award:before {
    content: "\e91a";
  }
  .ft-bar-chart-2:before {
    content: "\e91b";
  }
  .ft-bar-chart:before {
    content: "\e91c";
  }
  .ft-battery-charging:before {
    content: "\e91d";
  }
  .ft-battery:before {
    content: "\e91e";
  }
  .ft-bell-off:before {
    content: "\e91f";
  }
  .ft-bell:before {
    content: "\e920";
  }
  .ft-bluetooth:before {
    content: "\e921";
  }
  .ft-bold:before {
    content: "\e922";
  }
  .ft-book-open:before {
    content: "\e923";
  }
  .ft-book:before {
    content: "\e924";
  }
  .ft-bookmark:before {
    content: "\e925";
  }
  .ft-box:before {
    content: "\e926";
  }
  .ft-briefcase:before {
    content: "\e927";
  }
  .ft-calendar:before {
    content: "\e928";
  }
  .ft-camera-off:before {
    content: "\e929";
  }
  .ft-camera:before {
    content: "\e92a";
  }
  .ft-cast:before {
    content: "\e92b";
  }
  .ft-check-circle:before {
    content: "\e92c";
  }
  .ft-check-square:before {
    content: "\e92d";
  }
  .ft-check:before {
    content: "\e92e";
  }
  .ft-chevron-down:before {
    content: "\e92f";
  }
  .ft-chevron-left:before {
    content: "\e930";
  }
  .ft-chevron-right:before {
    content: "\e931";
  }
  .ft-chevron-up:before {
    content: "\e932";
  }
  .ft-chevrons-down:before {
    content: "\e933";
  }
  .ft-chevrons-left:before {
    content: "\e934";
  }
  .ft-chevrons-right:before {
    content: "\e935";
  }
  .ft-chevrons-up:before {
    content: "\e936";
  }
  .ft-chrome:before {
    content: "\e937";
  }
  .ft-circle:before {
    content: "\e938";
  }
  .ft-clipboard:before {
    content: "\e939";
  }
  .ft-clock:before {
    content: "\e93a";
  }
  .ft-cloud-drizzle:before {
    content: "\e93b";
  }
  .ft-cloud-lightning:before {
    content: "\e93c";
  }
  .ft-cloud-off:before {
    content: "\e93d";
  }
  .ft-cloud-rain:before {
    content: "\e93e";
  }
  .ft-cloud-snow:before {
    content: "\e93f";
  }
  .ft-cloud:before {
    content: "\e940";
  }
  .ft-code:before {
    content: "\e941";
  }
  .ft-codepen:before {
    content: "\e942";
  }
  .ft-coffee:before {
    content: "\e943";
  }
  .ft-command:before {
    content: "\e944";
  }
  .ft-compass:before {
    content: "\e945";
  }
  .ft-copy:before {
    content: "\e946";
  }
  .ft-corner-down-left:before {
    content: "\e947";
  }
  .ft-corner-down-right:before {
    content: "\e948";
  }
  .ft-corner-left-down:before {
    content: "\e949";
  }
  .ft-corner-left-up:before {
    content: "\e94a";
  }
  .ft-corner-right-down:before {
    content: "\e94b";
  }
  .ft-corner-right-up:before {
    content: "\e94c";
  }
  .ft-corner-up-left:before {
    content: "\e94d";
  }
  .ft-corner-up-right:before {
    content: "\e94e";
  }
  .ft-cpu:before {
    content: "\e94f";
  }
  .ft-credit-card:before {
    content: "\e950";
  }
  .ft-crop:before {
    content: "\e951";
  }
  .ft-crosshair:before {
    content: "\e952";
  }
  .ft-database:before {
    content: "\e953";
  }
  .ft-delete:before {
    content: "\e954";
  }
  .ft-disc:before {
    content: "\e955";
  }
  .ft-dollar-sign:before {
    content: "\e956";
  }
  .ft-download-cloud:before {
    content: "\e957";
  }
  .ft-download:before {
    content: "\e958";
  }
  .ft-droplet:before {
    content: "\e959";
  }
  .ft-edit-2:before {
    content: "\e95a";
  }
  .ft-edit-3:before {
    content: "\e95b";
  }
  .ft-edit:before {
    content: "\e95c";
  }
  .ft-external-link:before {
    content: "\e95d";
  }
  .ft-eye-off:before {
    content: "\e95e";
  }
  .ft-eye:before {
    content: "\e95f";
  }
  .ft-facebook:before {
    content: "\e960";
  }
  .ft-fast-forward:before {
    content: "\e961";
  }
  .ft-feather:before {
    content: "\e962";
  }
  .ft-figma:before {
    content: "\e963";
  }
  .ft-file-minus:before {
    content: "\e964";
  }
  .ft-file-plus:before {
    content: "\e965";
  }
  .ft-file-text:before {
    content: "\e966";
  }
  .ft-file:before {
    content: "\e967";
  }
  .ft-film:before {
    content: "\e968";
  }
  .ft-filter:before {
    content: "\e969";
  }
  .ft-flag:before {
    content: "\e96a";
  }
  .ft-folder-minus:before {
    content: "\e96b";
  }
  .ft-folder-plus:before {
    content: "\e96c";
  }
  .ft-folder:before {
    content: "\e96d";
  }
  .ft-frown:before {
    content: "\e96e";
  }
  .ft-gift:before {
    content: "\e96f";
  }
  .ft-git-branch:before {
    content: "\e970";
  }
  .ft-git-commit:before {
    content: "\e971";
  }
  .ft-git-merge:before {
    content: "\e972";
  }
  .ft-git-pull-request:before {
    content: "\e973";
  }
  .ft-github:before {
    content: "\e974";
  }
  .ft-gitlab:before {
    content: "\e975";
  }
  .ft-globe:before {
    content: "\e976";
  }
  .ft-grid:before {
    content: "\e977";
  }
  .ft-hard-drive:before {
    content: "\e978";
  }
  .ft-hash:before {
    content: "\e979";
  }
  .ft-headphones:before {
    content: "\e97a";
  }
  .ft-heart:before {
    content: "\e97b";
  }
  .ft-help-circle:before {
    content: "\e97c";
  }
  .ft-home:before {
    content: "\e97d";
  }
  .ft-image:before {
    content: "\e97e";
  }
  .ft-inbox:before {
    content: "\e97f";
  }
  .ft-info:before {
    content: "\e980";
  }
  .ft-instagram:before {
    content: "\e981";
  }
  .ft-italic:before {
    content: "\e982";
  }
  .ft-key:before {
    content: "\e983";
  }
  .ft-layers:before {
    content: "\e984";
  }
  .ft-layout:before {
    content: "\e985";
  }
  .ft-life-buoy:before {
    content: "\e986";
  }
  .ft-link-2:before {
    content: "\e987";
  }
  .ft-link:before {
    content: "\e988";
  }
  .ft-linkedin:before {
    content: "\e989";
  }
  .ft-list:before {
    content: "\e98a";
  }
  .ft-loader:before {
    content: "\e98b";
  }
  .ft-lock:before {
    content: "\e98c";
  }
  .ft-log-in:before {
    content: "\e98d";
  }
  .ft-log-out:before {
    content: "\e98e";
  }
  .ft-mail:before {
    content: "\e98f";
  }
  .ft-map-pin:before {
    content: "\e990";
  }
  .ft-map:before {
    content: "\e991";
  }
  .ft-maximize-2:before {
    content: "\e992";
  }
  .ft-maximize:before {
    content: "\e993";
  }
  .ft-meh:before {
    content: "\e994";
  }
  .ft-menu:before {
    content: "\e995";
  }
  .ft-message-circle:before {
    content: "\e996";
  }
  .ft-message-square:before {
    content: "\e997";
  }
  .ft-mic-off:before {
    content: "\e998";
  }
  .ft-mic:before {
    content: "\e999";
  }
  .ft-minimize-2:before {
    content: "\e99a";
  }
  .ft-minimize:before {
    content: "\e99b";
  }
  .ft-minus-circle:before {
    content: "\e99c";
  }
  .ft-minus-square:before {
    content: "\e99d";
  }
  .ft-minus:before {
    content: "\e99e";
  }
  .ft-monitor:before {
    content: "\e99f";
  }
  .ft-moon:before {
    content: "\e9a0";
  }
  .ft-more-horizontal:before {
    content: "\e9a1";
  }
  .ft-more-vertical:before {
    content: "\e9a2";
  }
  .ft-mouse-pointer:before {
    content: "\e9a3";
  }
  .ft-move:before {
    content: "\e9a4";
  }
  .ft-music:before {
    content: "\e9a5";
  }
  .ft-navigation-2:before {
    content: "\e9a6";
  }
  .ft-navigation:before {
    content: "\e9a7";
  }
  .ft-octagon:before {
    content: "\e9a8";
  }
  .ft-package:before {
    content: "\e9a9";
  }
  .ft-paperclip:before {
    content: "\e9aa";
  }
  .ft-pause-circle:before {
    content: "\e9ab";
  }
  .ft-pause:before {
    content: "\e9ac";
  }
  .ft-pen-tool:before {
    content: "\e9ad";
  }
  .ft-percent:before {
    content: "\e9ae";
  }
  .ft-phone-call:before {
    content: "\e9af";
  }
  .ft-phone-forwarded:before {
    content: "\e9b0";
  }
  .ft-phone-incoming:before {
    content: "\e9b1";
  }
  .ft-phone-missed:before {
    content: "\e9b2";
  }
  .ft-phone-off:before {
    content: "\e9b3";
  }
  .ft-phone-outgoing:before {
    content: "\e9b4";
  }
  .ft-phone:before {
    content: "\e9b5";
  }
  .ft-pie-chart:before {
    content: "\e9b6";
  }
  .ft-play-circle:before {
    content: "\e9b7";
  }
  .ft-play:before {
    content: "\e9b8";
  }
  .ft-plus-circle:before {
    content: "\e9b9";
  }
  .ft-plus-square:before {
    content: "\e9ba";
  }
  .ft-plus:before {
    content: "\e9bb";
  }
  .ft-pocket:before {
    content: "\e9bc";
  }
  .ft-power:before {
    content: "\e9bd";
  }
  .ft-printer:before {
    content: "\e9be";
  }
  .ft-radio:before {
    content: "\e9bf";
  }
  .ft-refresh-ccw:before {
    content: "\e9c0";
  }
  .ft-refresh-cw:before {
    content: "\e9c1";
  }
  .ft-repeat:before {
    content: "\e9c2";
  }
  .ft-rewind:before {
    content: "\e9c3";
  }
  .ft-rotate-ccw:before {
    content: "\e9c4";
  }
  .ft-rotate-cw:before {
    content: "\e9c5";
  }
  .ft-rss:before {
    content: "\e9c6";
  }
  .ft-save:before {
    content: "\e9c7";
  }
  .ft-scissors:before {
    content: "\e9c8";
  }
  .ft-search:before {
    content: "\e9c9";
  }
  .ft-send:before {
    content: "\e9ca";
  }
  .ft-server:before {
    content: "\e9cb";
  }
  .ft-settings:before {
    content: "\e9cc";
  }
  .ft-share-2:before {
    content: "\e9cd";
  }
  .ft-share:before {
    content: "\e9ce";
  }
  .ft-shield-off:before {
    content: "\e9cf";
  }
  .ft-shield:before {
    content: "\e9d0";
  }
  .ft-shopping-bag:before {
    content: "\e9d1";
  }
  .ft-shopping-cart:before {
    content: "\e9d2";
  }
  .ft-shuffle:before {
    content: "\e9d3";
  }
  .ft-sidebar:before {
    content: "\e9d4";
  }
  .ft-skip-back:before {
    content: "\e9d5";
  }
  .ft-skip-forward:before {
    content: "\e9d6";
  }
  .ft-slack:before {
    content: "\e9d7";
  }
  .ft-slash:before {
    content: "\e9d8";
  }
  .ft-sliders:before {
    content: "\e9d9";
  }
  .ft-smartphone:before {
    content: "\e9da";
  }
  .ft-smile:before {
    content: "\e9db";
  }
  .ft-speaker:before {
    content: "\e9dc";
  }
  .ft-square:before {
    content: "\e9dd";
  }
  .ft-star:before {
    content: "\e9de";
  }
  .ft-stop-circle:before {
    content: "\e9df";
  }
  .ft-sun:before {
    content: "\e9e0";
  }
  .ft-sunrise:before {
    content: "\e9e1";
  }
  .ft-sunset:before {
    content: "\e9e2";
  }
  .ft-tablet:before {
    content: "\e9e3";
  }
  .ft-tag:before {
    content: "\e9e4";
  }
  .ft-target:before {
    content: "\e9e5";
  }
  .ft-terminal:before {
    content: "\e9e6";
  }
  .ft-thermometer:before {
    content: "\e9e7";
  }
  .ft-thumbs-down:before {
    content: "\e9e8";
  }
  .ft-thumbs-up:before {
    content: "\e9e9";
  }
  .ft-toggle-left:before {
    content: "\e9ea";
  }
  .ft-toggle-right:before {
    content: "\e9eb";
  }
  .ft-trash-2:before {
    content: "\e9ec";
  }
  .ft-trash:before {
    content: "\e9ed";
  }
  .ft-trello:before {
    content: "\e9ee";
  }
  .ft-trending-down:before {
    content: "\e9ef";
  }
  .ft-trending-up:before {
    content: "\e9f0";
  }
  .ft-triangle:before {
    content: "\e9f1";
  }
  .ft-truck:before {
    content: "\e9f2";
  }
  .ft-tv:before {
    content: "\e9f3";
  }
  .ft-twitter:before {
    content: "\e9f4";
  }
  .ft-type:before {
    content: "\e9f5";
  }
  .ft-umbrella:before {
    content: "\e9f6";
  }
  .ft-underline:before {
    content: "\e9f7";
  }
  .ft-unlock:before {
    content: "\e9f8";
  }
  .ft-upload-cloud:before {
    content: "\e9f9";
  }
  .ft-upload:before {
    content: "\e9fa";
  }
  .ft-user-check:before {
    content: "\e9fb";
  }
  .ft-user-minus:before {
    content: "\e9fc";
  }
  .ft-user-plus:before {
    content: "\e9fd";
  }
  .ft-user-x:before {
    content: "\e9fe";
  }
  .ft-user:before {
    content: "\e9ff";
  }
  .ft-users:before {
    content: "\ea00";
  }
  .ft-video-off:before {
    content: "\ea01";
  }
  .ft-video:before {
    content: "\ea02";
  }
  .ft-voicemail:before {
    content: "\ea03";
  }
  .ft-volume-1:before {
    content: "\ea04";
  }
  .ft-volume-2:before {
    content: "\ea05";
  }
  .ft-volume-x:before {
    content: "\ea06";
  }
  .ft-volume:before {
    content: "\ea07";
  }
  .ft-watch:before {
    content: "\ea08";
  }
  .ft-wifi-off:before {
    content: "\ea09";
  }
  .ft-wifi:before {
    content: "\ea0a";
  }
  .ft-wind:before {
    content: "\ea0b";
  }
  .ft-x-circle:before {
    content: "\ea0c";
  }
  .ft-x-octagon:before {
    content: "\ea0d";
  }
  .ft-x-square:before {
    content: "\ea0e";
  }
  .ft-x:before {
    content: "\ea0f";
  }
  .ft-youtube:before {
    content: "\ea10";
  }
  .ft-zap-off:before {
    content: "\ea11";
  }
  .ft-zap:before {
    content: "\ea12";
  }
  .ft-zoom-in:before {
    content: "\ea13";
  }
  .ft-zoom-out:before {
    content: "\ea14";
  }
  